@import 'tailwindcss';

:root {
  --background: #fefae0; /* light cream */
  --foreground: #1e1e1e;
  --accent: #2563eb; /* Tailwind blue-600 */

  --font-heading: 'Georgia', 'Times New Roman', serif;
  --font-body: 'Inter', 'Helvetica Neue', sans-serif;
}

@layer components {
  .nav-link {
    @apply text-base font-normal text-gray-700 hover:text-blue-600 transition;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

@theme {
  --color-zomi-red: #b01921; /* Traditional deep red */
  --color-zomi-green: #2e8b57; /* Rich earthy green */
  --color-zomi-yellow: #facc15; /* Vibrant gold-like yellow */
  --color-zomi-black: #1f1f1f; /* Clean dark tone */
  --color-zomi-white: #ffffff; /* Classic white */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
