@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@600;700&display=swap');
@import 'tailwindcss';

:root {
  --background: #fefae0; /* light cream */
  --foreground: #1e1e1e;

  --font-heading: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
  --font-body: 'Inter', 'Helvetica Neue', sans-serif;
}

@layer components {
  .nav-link {
    @apply text-base font-normal text-gray-700 hover:text-zomi-green transition;
  }

  .font-heading {
    font-family: var(--font-heading);
  }

  .body-lg {
    @apply text-lg leading-relaxed;
    letter-spacing: 0.02em;
    line-height: 1.75;
  }

  .card-style {
    @apply w-full mx-auto rounded-xl shadow-md hover:shadow-xl hover:scale-105 transition-transform duration-300 ease-in-out;
  }
}

@layer utilities {
  .fade-slide-hidden {
    @apply opacity-0 blur-sm -translate-x-full transition-all duration-700 ease-out;
  }

  .fade-slide-show {
    @apply opacity-100 blur-none translate-x-0;
  }

  .delay-200 {
    transition-delay: 200ms;
  }
  .delay-400 {
    transition-delay: 400ms;
  }
  .delay-600 {
    transition-delay: 600ms;
  }
  .delay-800 {
    transition-delay: 800ms;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);

  line-height: 1.75;
  font-size: 16px;
}

@theme {
  --color-zomi-red: #7b0d11; /* Traditional deep red */
  --color-zomi-red-less: #991b1b;
  --color--red-muted: #a94448;
  --color-zomi-green: #0d4618; /* Rich earthy green */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--color-zomi-red);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.fade-in {
  animation: fadeIn 0.6s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
