@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@600;700&display=swap');
@import 'tailwindcss';

:root {
  --background: #fefae0; /* light cream */
  --foreground: #1e1e1e;
  --accent: #2563eb; /* Tailwind blue-600 */

  --font-heading: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
  --font-body: 'Inter', 'Helvetica Neue', sans-serif;
}

@layer components {
  .nav-link {
    @apply text-base font-normal text-gray-700 hover:text-blue-600 transition;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);

  line-height: 1.75;
  font-size: 16px;
}

@theme {
  --color-zomi-red: #7b0d11; /* Traditional deep red */
  --color-zomi-green: #2e8b57; /* Rich earthy green */
  --color-zomi-yellow: #facc15; /* Vibrant gold-like yellow */
  --color-zomi-black: #1f1f1f; /* Clean dark tone */
  --color-zomi-white: #ffffff; /* Classic white */
  --color-zomi-green-less: #0d4618;
  --color-zomi-red-less: #7b0d11;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.nav-link {
  @apply relative transition;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: currentColor;
  transition: width 0.3s ease;
}
.nav-link:hover::after {
  width: 100%;
}
